:host {
    display: flex;
    flex-direction: column;
    button {
        align-self: center;
        margin: 20px;
    }
    .calendarwrapper {
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1100px) {
            width: 60%;
        }
        mat-grid-tile {
            border: solid 1px #ccc;
            transition: 0.2s;
            border-radius: 5px;
        }
        .calendar {
            mat-grid-tile {
                cursor: pointer;
                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}