:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #777;
        transition: 0.2s;
        &:hover {
            font-size: 26px;
        }
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                transition: 0.2s;
                &:hover {
                    font-size: 18px;
                }
            }
        }
        .monthSelector {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            color: #777;
            transition: 0.2s;
            &:hover {
                font-size: 20px;
            }
            mat-icon {
                cursor: pointer;
            }
        }
    }
}